@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #423d3a;
    background: #f7f5f2;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.btn { 
    @apply bg-cyan-600 rounded-md px-10 py-2 font-semibold text-white;
}

.hero-bg {
    @apply bg-cover bg-center bg-no-repeat;
    background-image: url('/images/hero-bg.webp');
}