.header-wrapper {
    padding: 1em;
    background-color: #5d5c61;
    border-bottom: 3px solid #7396ae;    
    .logo-wrapper {
        
        .logo-img {
            height: 100px;
        }
    }
}

