@import '../../assets/styles/colors.scss';

.hero {
    padding: 100px 0;
}

.schedule-wrapper {
    background: rgb(93,92,97);
    background: linear-gradient(45deg, rgba(93, 92, 97, 0.425) 0%, rgba(115, 150, 174, 0.493) 100%);
    padding: 2em;
    ul {
        list-style-image: none;
        padding: 0 0 0 5px;
    
        li {
            list-style-type: none;
            padding-left: 0;
            margin-bottom: 3px;
            a {
                text-decoration: none;
                color: $primaryLink;
            }
        }
    }
}


.profile-pic-wrapper{
    overflow: hidden; 
    justify-content: space-around;
    display: flex;

    .profile-pic{
        position: fixed;
        top: 95px;
        border-radius: 75px;
        height: 150px;
        width: 150px;
    }
}

.profile-pic-sm{
    border-radius: 75px;
    height: 150px;
    width: 150px;
    margin-bottom: 2em;
}