@import '../../assets/styles/colors.scss';

.link-wrapper{
    background: rgb(93,92,97);
    background: linear-gradient(45deg, rgba(93, 92, 97, 0.425) 0%, rgba(115, 150, 174, 0.493) 100%);
    padding: 2em;
    border-radius: 6px;
    ul {
        list-style-image: none;
        padding: 0 0 0 5px;
        margin: 5px 0;
    
        li {
            list-style-type: none;
            padding-left: 0;
            margin-bottom: 3px;
            a {
                text-decoration: none;
                color: $primaryLink;
                font-size: 1.25em;
            }
        }
    }
}

