@import "./assets/styles/fonts.scss";
@import "./assets/styles/colors.scss";
$theme-colors: (
  "primary": $blue
);
@import "~bootstrap/scss/bootstrap";

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Raleway', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0ece7;

  h1, h2, h3 {
    color: $primaryText;
    font-family: 'Oswald Medium', 'Helvetica Neue', sans-serif;
  }

  p {
    font-family: 'Raleway', 'Helvetica Neue', sans-serif;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
}



