@font-face {
    font-family: "Oswald SemiBold";
    src: local("Oswald SemiBold"), url("../fonts/Oswald-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Oswald";
    src: local("Oswald"), url("../fonts/Oswald-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Oswald Bold";
    src: local("Oswald Bold"), url("../fonts/Oswald-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Oswald Medium";
    src: local("Oswald Medium"), url("../fonts/Oswald-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Oswald Light";
    src: local("Oswald Light"), url("../fonts/Oswald-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway SemiBold";
    src: local("Oswald SemiBold"), url("../fonts/Raleway-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway";
    src: local("Oswald"), url("../fonts/Raleway-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway Bold";
    src: local("Oswald Bold"), url("../fonts/Raleway-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway Medium";
    src: local("Oswald Medium"), url("../fonts/Raleway-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway Light";
    src: local("Oswald Light"), url("../fonts/Raleway-Light.ttf") format("truetype");
}